---
import Layout from '../../layouts/Layout.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import Article from '../../components/Article.astro';
import { publishedPosts, allPosts } from '../../lib/posts';
import Categories from '../../components/Categories.astro';
import { render } from 'astro:content';

import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
	const isDev = import.meta.env.DEV;
	const posts = isDev ? allPosts : publishedPosts;
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post }
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} pageSlug={post.id}>
	<section
		style={{
			'--title-color': post.data.titleColor,
			'--background-color': post.data.titleBgColor
		}}
	>
		<header>
			<BlogHeader post={post.data} />
		</header>
		<Categories categories={post.data.categories} />
		<Article linkHoverColor={post.data.titleColor} linkUnderlineColor={post.data.titleBgColor}>
			<Content />
		</Article>
	</section>
</Layout>

<style>
	h1 {
		font-size: var(--text-3xl);
		line-height: 1;
	}

	.subtitle {
		display: flex;
		justify-content: space-between;
	}

	.subtitle h2 {
		font-size: var(--text-xl);
		line-height: 1;
	}

	.tags {
		font-size: var(--text-lg);
	}

	.tags ul {
		list-style: none;
		display: inline-flex;
		font-size: var(--text-lg);
	}

	.tags li {
		display: inline;
		margin-right: 0.5rem;
	}

	.tags li:not(:last-child)::after {
		content: ', ';
	}
</style>
