!!! XML
%rss{:version => "2.0"}
  %channel
    %title{:type => 'text'}= @title
    %link{:href => "http://tommyp.org", :rel => 'alternate'}
    %description= @subtitle
    %language en-gb
    %pubDate= @articles[0].date.rfc822
    %lastBuildDate= @articles[0].date.rfc822
    %generator tommyp.org
    - @articles.each do |article|
      %item
        %title
          :cdata
            #{article.title}
        %link{ :href => article.abspath, :type => 'text/html', :rel => 'alternate' }
        %description
          = article.summary 
        %pubDate= article.date.rfc822