---
import { ClientRouter } from 'astro:transitions';
import '../styles/reset.css';
import '../styles/inter.css';
import '../styles/variables.css';
import 'open-props/style';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
interface Props {
	title?: string;
	description?: string;
	pageSlug?: string;
}

const { title, description, pageSlug } = Astro.props;

const pageTitle = title ? `${title} | Tommy Palmer` : 'Tommy Palmer';
const pageDescription = description
	? `${description} | Web Developer based in London`
	: 'Web Developer based in London';
const opengraphImage = pageSlug
	? `https://tommyp.org/open-graph/${pageSlug}.png`
	: `https://tommyp.org/images/og.png`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={pageDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ClientRouter />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script is:inline defer data-domain="tommyp.org" src="https://plausible.io/js/plausible.js"
		></script>

		<meta
			name="keywords"
			content="web, developer, tommy, palmer, london, walthamstow, web gl, react, svelte, html, css, javascript, ruby, elixir, blog, belfast, ireland"
		/>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tommyp.org" />

		<meta name="twitter:creator" content="@tommypalm" />

		<meta property="twitter:card" content="summary_large_image" />

		<meta property="twitter:url" content="https://tommyp.org" />

		<link
			rel="alternate"
			type="application/rss+xml"
			title="Tommy Palmer"
			href="https://www.tommyp.org/rss.xml"
		/>

		<meta property="og:image" content={opengraphImage} />
		<meta property="twitter:image" content={opengraphImage} />
	</head>
	<body>
		<Header pathName={new URL(Astro.request.url).pathname} client:load />
		<main>
			<slot />
		</main>
		<Footer />
		<style>
			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			main {
				margin-top: 3rem;
				flex: 1;
			}

			@media (min-width: 576px) {
				main {
					margin-top: 0;
				}
			}
		</style>
	</body>
</html>
